<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
    <!-- ===== BOX ICONS ===== -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!--===== CONTACT ME =====-->
<section class="contact section bd-container" id="contact">
  <span class="section-subtitle">For projects</span>
  <h2 class="section-title">Contact Me</h2>

  <div class="contact__container bd-grid">
    <div class="contact__content bd-grid">
      <div class="contact__box">
        <i class="bx bx-home contact__icon"></i>
        <h3 class="contact__title">Location</h3>
        <span class="contact__description">#123 Lima - Peru</span>
      </div>

      <div class="contact__box">
        <i class="bx bx-phone contact__icon"></i>
        <h3 class="contact__title">Phone</h3>
        <span class="contact__description">999-888-777</span>
      </div>

      <div class="contact__box">
        <i class="bx bx-envelope contact__icon"></i>
        <h3 class="contact__title">Gmail</h3>
        <span class="contact__description">clayuser@email.com</span>
      </div>

      <div class="contact__box">
        <i class="bx bx-chat contact__icon"></i>
        <h3 class="contact__title">Chat</h3>
        <div>
          <a href="#" class="contact__social"><i class="bx bxl-whatsapp-square"></i></a>
          <a href="#" class="contact__social"><i class="bx bxl-telegram"></i></a>
          <a href="#" class="contact__social"><i class="bx bxl-messenger"></i></a>
        </div>
      </div>
    </div>

    <form action="" class="contact__form">
      <div class="contact__inputs">
        <input type="text" placeholder="Name" class="contact__input">
        <input type="email" placeholder="Email" class="contact__input">
      </div>

      <div class="contact__inputs">
        <input type="text" placeholder="Project" class="contact__input">
        <input type="number" placeholder="Number" class="contact__input">
      </div>

      <textarea name="" id="" cols="0" rows="7" placeholder="Message" class="contact__input"></textarea>

      <input type="submit" value="Send Message" class="button contact__button">
    </form>
  </div>
</section>
</body>
</html>