<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <!--=============== REMIXICONS ===============-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

<!--==================== HEADER ====================-->
<header class="header" id="header">
  <nav class="nav container">
    <a href="/" class="nav__logo">
      <span class="nav__logo-circle">P</span>
      <span class="nav__logo-name">Prashant Kumar.</span>
    </a>

    <div class="nav__menu" id="nav-menu">
      <span class="nav__title">Menu</span>

      <h3 class="nav__name">Name</h3>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="nav__link">Home</a>
        </li>

        <li class="nav__item">
          <a href="/aboutme" class="nav__link">About Me</a>
        </li>

        <li class="nav__item">
          <a href="/project" class="nav__link active-link">Projects</a>
        </li>

        <li class="nav__item">
          <a href="/contact" class="nav__link nav__link-button">Contact Me</a>
        </li>
      </ul>

      <!-- Close button -->
      <div class="nav__close" id="nav-close">
        <i class="ri-close-line"></i>
      </div>
    </div>

    <div class="nav__buttons">

      <!-- Toggle button -->
      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-4-line"></i>
      </div>
    </div>
  </nav>
</header>

<!--==================== PROJECTS-PAGE ====================-->
<section class="projects-page section">
  <h2 class="section__title-1">
    <span>Project description.</span>
  </h2>
  <!--SLIDER-->
  <div class="slider-container">
    <div class="slider-wrapper">
      <div class="slider">
        <img id="slide-1" src="https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTMyOTA2Mzd8&ixlib=rb-4.0.3&q=85" alt="Image 1">
        <img id="slide-2" src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTMyOTEzMDV8&ixlib=rb-4.0.3&q=85" alt="Image 2">
        <img id="slide-3" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTMyOTEzNDl8&ixlib=rb-4.0.3&q=85" alt="Image 3">
      </div>
      
      <div class="slider-nav">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
      </div>
    </div>
  </div>
  <!--COLLAPSE-->
  <div class="project-page__container container grid">
    <ul class="project-page__accordion">

      <li class="project-page__card">
        <div class="project-page__content">
          <input type="radio" name="accordion" id="first" checked>
          <label class="project-page--title" for="first">Theme</label>
          <div class="project-page__description">
            <p>Create a Sample Portfolio homepage with EJS , CSS & Javascript

            </p>
          </div>
        </div>
      </li>

      <li class="project-page__card">
        <div class="project-page__content">
          <input type="radio" name="accordion" id="second">
          <label class="project-page--title" for="second">Assignment</label>
          <div class="project-page__description">
            <p>Creation of a landing page (responsive for Desktop - Tablet - Mobile versions) allowing users to use the website seamlessly.</p>
          </div>
        </div>
      </li>

      <li class="project-page__card">
        <div class="project-page__content">
          <input type="radio" name="accordion" id="third">
          <label class="project-page--title" for="third">Skills assessed</label>
          <div class="project-page__description">
            <p>- Implement a responsive interface with EJS , CSS & Javascript</p><br>
            <p>- Install a front-end development environment</p><br>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <!--SKILLS-BUTTONS-->
  <div class="project-page__skills">
    <h3 class="project-page__skills-title">Technologies used</h3>

    <div class="project-page__skills-content grid">

      <div class="project-page__skills-img">
        <!-- HTML -->
        <img src="https://cdn.worldvectorlogo.com/logos/html-1.svg" alt="image HTML" class="project-page__skills-img">
        <p class="project-page__skills-hover-text">EJS</p>
      </div>

      <div class="project-page__skills-img">
        <!-- CSS -->
        <img src="https://cdn.worldvectorlogo.com/logos/css-3.svg" alt="image CSS" class="project-page__skills-img">
        <p class="project-page__skills-hover-text">CSS</p>
      </div>

      <div class="project-page__skills-img">
        <!-- JavaScript -->
        <img src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg" alt="image JavaScript" class="project-page__skills-img">
        <p class="project-page__skills-hover-text">JavaScript</p>
      </div>

      <div class="project-page__skills-img">
        <!-- Git -->
        <img src="https://cdn.worldvectorlogo.com/logos/git-icon.svg" alt="image Git" class="project-page__skills-img">
        <p class="project-page__skills-hover-text">Git</p>
      </div>

      <div class="project-page__skills-img">
        <!-- GitHub -->
        <img src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg" alt="image GitHub" class="project-page__skills-img">
        <p class="project-page__skills-hover-text">GitHub</p>
      </div>

    </div>
  </div>
  <!--BUTTONS-->
  <div class="project-page__buttons">
    <a href="#" class="button">
      <i class="ri-github-line"></i> Source Code
    </a>
    <a href="#" class="button">
      <i class="ri-timeline-view"></i> Aperçu
    </a>

  </div>
</section>

<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <a href="index.html" class="footer__logo">Prashant Kumar.</a>

      <ul class="footer__links">
        <li>
          <a href="/about" class="footer__link">About Me</a>
        </li>

        <li>
          <a href="work.html" class="footer__link">Portfolio</a>
        </li>

        <li>
          <a href="/contact" class="footer__link">Contact Me</a>
        </li>
      </ul>

      <div class="footer__social">
        <a href="#" target="_blank" class="footer__social-link">
          <i class="ri-linkedin-box-fill"></i>
        </a>

        <a href="#" target="_blank" class="footer__social-link">
          <i class="ri-github-fill"></i>
        </a>

        <a href="#" target="_blank" class="footer__social-link">
          <i class="ri-codepen-fill"></i>
        </a>
      </div>
    </div>

    <span class="footer__copy">
      &#169; All rights reserved by
      <a href="#">Name.</a>
    </span>
  </div>
</footer>

<script src="/javascripts/script.js"></script>

</body>
</html>